<footer>
    <div class="container">
        <div class="row d-flex g-5 justify-content-between ">

            <div class="col-10 col-lg-4 footer-logo-container ">
                <img src="/images/logo-light.svg">
                <p>
                    Pulizia Post Ristrutturazione e Pulizie 
                    straordinarie a Perugia pulizie professionali 
                    di alta qualità a grandi enti, piccole 
                    imprese o privati
                </p>
            </div>
            
            <div class="col-12 col-lg-3">
                <h6 class="footer-titles">SERVIZI</h6>
                <div class="footer-servizi">
                    <h7>PULIZIE CIVILI</h7>
                    <div class="footer-servizi-links">
                        <a href="#">Abitazioni private</a>
                        <a href="#">Condomini</a>
                        <a href="#">Appartamenti</a>
                        <a href="#">Pulizie post ristrutturazione</a>
                        <a href="#">Pulizie post trasloco</a>
                        <a href="#">Pulizie profonde periodiche</a>
                        <a href="#">Igienizzazione ambienti domestici</a>
                    </div>
                </div>
                <div class="footer-servizi">
                    <h7>PULIZIE INDUSTRIALI</h7>
                    <div class="footer-servizi-links">
                        <a href="#">Aziende</a>
                        <a href="#">Uffici</a>
                        <a href="#">Capannoni industriali</a>
                        <a href="#">Pavimentazione</a>
                        <a href="#">Ambito Sanitario</a>
                        <a href="#">Ristorazione</a>
                        <a href="#">Carrozzerie</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2">
                <h6 class="footer-titles">AZIENDA</h6>
                <p class="footer-azienda-links">
                    <a href="#">HOME</a>
                    <a href="#">CHI SIAMO</a>
                    <a href="#">CONTATTI</a>
                </p>
                <div class="footer-azienda-icons">
                    <img src="/images/whatsapp.svg">
                    <img src="/images/facebook.svg">
                </div>
            </div>

            <div class="col-12 col-lg-3">
                <h6 class="footer-titles">CONTATTI</h6>
                <div>
                    <div class="d-flex footer-contatti">
                        <img class="footer-icons" src="/images/phone-azure.svg">
                        <a href="">+39 000 000 0000</a>
                    </div>
                    <div class="d-flex footer-contatti">
                        <img class="footer-icons" src="/images/mail.svg">
                        <p>info@smail.it</p>
                    </div>
                    <div class="d-flex footer-contatti">
                        <img class="footer-icons" src="/images/pointer.svg">
                        <p>Perugia, Umbria Italia</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between footer-srl ">
            <p>Smail S.r.l ©2026 All Right Reserved</p>
            <p>Privacy Policy | Cookies Policy | Termini e Condizioni</p> 
        </div>

    </div>
</footer>
