<header class="header">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col-6 col-lg-3">
                    <a href="/home/home.html">
                        <img src="/images/logo-smail.svg" width="100%">
                    </a>
                </div>

                <div class="col-6 d-flex d-lg-none justify-content-end">
                    <button class="hamburger-btn" id="hamburgerBtn" type="button">
                        <img src="/images/hamburger.svg" alt="Menu">
                    </button>
                </div>

                <div class="d-none d-lg-flex col-lg-4 d-flex justify-content-between ">
                    <div class="dropdown-wrapper">
                        <button class="md-btn nav-servizi" id="serviziDropdownBtn" type="button">
                            SERVIZI DI PULIZIA
                            <svg class="dropdown-arrow" width="16" height="16" viewBox="0 0 24 24" fill="none">
                                <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu-custom" id="serviziDropdownMenu">
                            <a href="/pulizie-civili/pulizie-civili.html" class="nav-pulizie-civili">Pulizie Civili</a>
                            <a href="/pulizie-industriali/pulizie-industriali.html" class="nav-pulizie-industriali">Pulizie Industriali</a>
                        </div>
                    </div>
                    <a href="/chi-siamo/chi-siamo.html" class="md-btn nav-chi-siamo">CHI SIAMO</a>
                    <a href="/contatti/contatti.html" class="md-btn nav-contatti">CONTATTI</a>
                </div>

                <div class="d-none d-lg-flex col-lg-4 d-flex justify-content-center gap-3 call-to-action-btns">
                    <button class="header-call-to-action-1">
                        <img src="/images/phone.svg" alt="" class="phone-icon">
                        Chiama ora
                    </button>
                    <button class="header-call-to-action-2">PREVENTIVO GRATUITO</button>
                </div>

            </div>
        </div>
    </header>