* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: #082536;
    margin-bottom: 3rem;
}
h1 span{
    color: #4db8d1;
}
.hero-p{
    font-size: 1.2rem;
    font-weight: 500;
}


.esp-section{
    background-color: #082536;
    border-radius: 30px;
    padding: 7rem 0;
    margin: 4rem 0;
    padding-inline: 35px;
}
.esp-container h3{
    color: white;
    font-weight: 700;
    line-height: 3.2rem;
    font-size: 2.9rem;
}
.esp-container h3 span{
    color: #4db8d1;
}
.esp-container p{
    color: #ffffff;
    margin: 3rem 0;
    font-size: 1.2rem;
}
.esp-p b{
    color: #fff;
}
.esp-btn .header-call-to-action-1 {
    background-color: white;
    color: #0f2942;
    border: 1px solid transparent;
}
.esp-img img{
    width: 100%;
    height: auto;
    border-radius: 60px;
}




.il-team-section{
    padding-inline: 35px;
}
.il-team-title h3{
    font-size: 2.9rem;
    line-height: 3.2rem;
    font-weight: 700;
}
.il-team-title span{
    color: #4db8d1;
}
.il-team-separatore{
    width: 9rem;
    height: auto;
    margin: 0.5rem 0 2rem;
}
.il-team-p{
    font-size: 1.2rem;
    font-weight: 500;
}
.il-team-box{
    margin: 3rem 0;
    padding: 2rem 1.7rem;
    border-radius: 60px;
    box-shadow: 0 0 8px #7979796b;
}
.il-team-box h4{
    font-size: 1.6rem;
    font-weight: 700;
    color: #4db8d1;
    margin: 2rem 0 0.8rem 0;
}
.il-team-box p{
    font-weight: 500;
    font-size: 1.2rem;
}




.num-section{
    background-color: #08253608;
    border-radius: 30px;
    padding: 5rem 0;
    margin: 4rem 0rem;
    padding-inline: 35px;
}
.num-title{
    font-size: 2.9rem;
    font-weight: 700;
} 
.num-title span{
    color: #4db8d1;
}
.num-p{
    font-size: 1.2rem;
    font-weight: 500;
}
.num-box h4{
    font-weight: 700;
    font-size: 2.3rem;
    margin: 2rem 0 4rem;
}
.num-icon {
    width: 180px;
}
.num-icon {
    width: clamp(80px, 15vw, 180px);
    height: auto;
}
.num-box h4 {
    font-size: clamp(1rem, 2.2vw, 1.5rem);
}





.tec-section{
    margin: 4rem 0;
    padding-inline: 35px;
}
.tec-h3{
    font-size: 2.9rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}
.tec-h3 span{
    color: #4db8d1;
}
.tec-p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 4rem;
}






@media (max-width: 991px) {
    h1{
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
    .hero-p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
 

    .esp-section{
        padding-inline: 0;
    }
    .esp-container h3{
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .esp-img img{
        border-radius: 30px;
    }
    .esp-container p{
        font-size: 1rem;
        line-height: 1.6rem;
    }



    .il-team-section{
        padding-inline: 0px;
    }
    .il-team-title h3{
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .il-team-p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .il-team-box{
        margin: 0;
        padding: 2rem 1.8rem;
        border-radius: 50px;
    }
    .il-team-box h4{
        font-size: 1rem;

        margin: 1rem 0 0.4rem 0;
    }
    .il-team-box p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }




    .num-section{
        padding-inline: 0px;
    }
    .num-title{
        font-size: 1.6rem;
        line-height: 1.9rem;
    } 
    .num-p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .num-box h4{
        font-size: 1.2rem;
    }



    .tec-section{
        padding-inline: 0px;
    }
    .tec-h3{
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-bottom: 2rem;
    }
    .tec-p{
        font-size: 1rem;
        line-height: 1.6rem;
        margin-bottom: 1rem;
    }


}
