h1{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.67rem;
    margin-bottom: 2rem;
    color: #082536;
}
h1 span{
    color: #4db8d1;
}
.hero-txt h4{
    color: #4db8d1;
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 2rem;
}
.hero-txt p{
    font-size: 1.2rem;
    margin-bottom: 4rem;
    font-weight: 500;
}


.pulizie-box-section{
    margin: 5rem 0;
    padding-inline: 35px;
}
.pulizie-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 65px;
    border-radius: 60px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.pulizie-icon-wrap {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pulizie-icon-wrap img {
    width: 100px;
    height: 100px;
}
.pulizie-text-wrap {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}
.pulizie-text-wrap p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.1rem;
    margin: 0;
    text-align: center;
}




.hero-section h3{
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 2.88rem;
    color: #082536;
}
.hero-section h3 span{
    color: #4db8d1;
}




.domanda-section{
    margin: 4rem 0;
    padding-inline: 35px;
}
.domanda-container{
    background-color: #08253608;
    border-radius: 60px;
    padding: 3rem 0;
}
.domanda-title{
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-bottom: 4rem;
}
.domanda-title span{
    color: #4db8d1;
}



@media (max-width: 767px) {
    h1{
        font-size: 2rem;
        line-height: 2.36rem;
    }
    .hero-h4{
        font-size: 1rem;
        line-height: 1.3rem;
        color: #4db8d1;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .hero-txt p{
        font-size: 1rem;
        margin-bottom: 3rem;
    }




    .pulizie-box-section {
        padding-inline: 0;
    }
    .pulizie-text-wrap p {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .pulizie-icon-wrap img {
        width: 60px;
        height: 60px;
        margin: 0;
    }
    .pulizie-box {
        padding: 30px;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 1rem;
    }
    .pulizie-icon-wrap {
        height: 60px;
    }



    .hero-section h3{
        font-size: 1.6rem;
        line-height: 1.7rem;
    }
    .domanda-title{
        font-size: 1.6rem;
        line-height: 1.8rem;
        margin-bottom: 2rem;
    }
    .domanda-container{
        border-radius: 30px;
    }

}