h3{
    font-size: 35px;
    font-weight: 700;
}
h3 span{
    color: #4db8d1;
}
.hero-txt h4{
    color: #4db8d1;
    font-weight: 700;
}
.hero-txt p{
    margin-bottom: 4rem;
}





.interventi-box-section{
    margin: 5rem 0;
}
.interventi {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 30px;
    box-shadow: 0 0 8px #7979796b;
    margin: 1rem 0;
}
.interventi-separatore{
    width: 150px;
    height: auto;
    margin-bottom: 2rem;
}
.interventi-icon-wrap {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}
.interventi-icon-wrap img {
    width: 60px;
    height: 60px;
}
.interventi-text-wrap {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}
.interventi-text-wrap p {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    text-align: center;
}
